{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ movie.title }}</h1>
    <div class="d-flex flex-row flex-lg-row justify-content-between">
        <p class="fw-bold">{{ movie.releaseDate }}</p>
        <p>Directed by {{ movie.director }}</p>
    </div>
<p class="pretty-wrap"><span>Plot</span> <br>{{ movie.overview }}</p>
{% endblock %}