<h1>
    <span>YAMDB:</span> Yet Another Movie Database
</h1>
{% for movie in movies %}
    <h2>
        {{  movie }}
    </h2>

    <div class="movie_details">
        <p>Dit is een film</p>
    </div>
{% endfor %}