{% block search %}

<!-- search bar -->
<div class="temp">
    <div class="col-md-6">
        <div class="form">
            <i class="fa fa-search"></i>
            <input
                    name="{{ field_name(form.search) }}"
                    value="{{ field_value(form.search) }}"
                    type="search"
                    class="form-control form-input"
                    placeholder="Search anything...">
            <span class="left-pan"><button name="{{ field_name(form.submit) }}" class="btn btn-light" type="submit">Search</button></span>
            <div class="alert disabled">{{ form_errors(form) }}</div>
        </div>
    </div>
</div>

{% endblock %}